@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&family=Roboto+Slab:wght@300;400;600&display=swap");

.container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  margin-top: 5rem;
  margin-left: 5rem;
  
  height: 78vh;
}
.main {
  font-family: "Roboto Slab", serif;
  font-weight: 600;
  font-size: 2rem;
  color: rgb(31, 30, 30);
}
.div2 {
  width: 80vw;
  margin-top: 5rem;
  margin-left: 5rem;
  height: 50vh;
  border: 1px rgb(145, 3, 3) solid;
}
.btn {
  padding: 0.3rem;
  font-family: "Roboto Slab", serif;
  font-size: 1.5rem;
  font-weight: 600;
  width: 10vw;
  border-radius: 5px;
  border: none;
  background-color: rgb(160, 15, 15);
  color: antiquewhite;

  margin-left: 32rem;
}
.btn:hover {
  transform: scale(1.1);
}
.p{
    margin-top: 10rem;
  margin-left: 25rem;
  font-size: 1.2rem;
  font-family: "Roboto Slab", serif;
  font-weight: 600;
  color: rgb(31, 30, 30);
}
